plstms-pls20-e49a48c5bd95/extint-libs/src/main/wsdls/CarrierConnectWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://v3.webservice.carrierconnectxl.smc.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CarrierConnectXLV3" targetNamespace="http://v3.webservice.carrierconnectxl.smc.com">
  <wsdl:types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://webservices.smc.com" xmlns:ns0="http://webservices.smc.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices.smc.com" version="1.0">

      <xs:element name="AuthenticationToken" type="tns:AuthenticationToken"/>

      <xs:complexType name="AuthenticationToken">
        <xs:sequence>
          <xs:element name="licenseKey" nillable="true" type="xs:string"/>
          <xs:element name="password" nillable="true" type="xs:string"/>
          <xs:element name="username" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://v3.webservice.carrierconnectxl.smc.com" xmlns:ns9="http://enums.webservice.carrierconnectxl.smc.com" xmlns:ns8="http://transit.v3.webservice.carrierconnectxl.smc.com" xmlns:ns7="http://terminalsbycarrier.v3.webservice.carrierconnectxl.smc.com" xmlns:ns6="http://carrierservices.v3.webservice.carrierconnectxl.smc.com" xmlns:ns5="http://terminalbyterminalcode.v3.webservice.carrierconnectxl.smc.com" xmlns:ns4="http://isready.v3.webservice.carrierconnectxl.smc.com" xmlns:ns3="http://transitplanning.v3.webservice.carrierconnectxl.smc.com" xmlns:ns2="http://terminalsbypostalcode.v3.webservice.carrierconnectxl.smc.com" xmlns:ns1="http://pojos.webservice.carrierconnectxl.smc.com" xmlns:ns0="http://webservices.smc.com" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://v3.webservice.carrierconnectxl.smc.com">
      <xs:import namespace="http://pojos.webservice.carrierconnectxl.smc.com"/>
      <xs:import namespace="http://terminalsbypostalcode.v3.webservice.carrierconnectxl.smc.com"/>
      <xs:import namespace="http://transitplanning.v3.webservice.carrierconnectxl.smc.com"/>
      <xs:import namespace="http://isready.v3.webservice.carrierconnectxl.smc.com"/>
      <xs:import namespace="http://terminalbyterminalcode.v3.webservice.carrierconnectxl.smc.com"/>
      <xs:import namespace="http://carrierservices.v3.webservice.carrierconnectxl.smc.com"/>
      <xs:import namespace="http://terminalsbycarrier.v3.webservice.carrierconnectxl.smc.com"/>
      <xs:import namespace="http://transit.v3.webservice.carrierconnectxl.smc.com"/>
      <xs:element name="CarrierServices" type="tns:CarrierServices"/>
      <xs:element name="CarrierServicesResponse" type="tns:CarrierServicesResponse"/>
      <xs:element name="TerminalByTerminalCode" type="tns:TerminalByTerminalCode"/>
      <xs:element name="TerminalByTerminalCodeResponse" type="tns:TerminalByTerminalCodeResponse"/>
      <xs:element name="TerminalsByCarrier" type="tns:TerminalsByCarrier"/>
      <xs:element name="TerminalsByCarrierResponse" type="tns:TerminalsByCarrierResponse"/>
      <xs:element name="TerminalsByPostalCode" type="tns:TerminalsByPostalCode"/>
      <xs:element name="TerminalsByPostalCodeResponse" type="tns:TerminalsByPostalCodeResponse"/>
      <xs:element name="Transit" type="tns:Transit"/>
      <xs:element name="TransitPlanning" type="tns:TransitPlanning"/>
      <xs:element name="TransitPlanningResponse" type="tns:TransitPlanningResponse"/>
      <xs:element name="TransitResponse" type="tns:TransitResponse"/>
      <xs:element name="isReady" type="tns:isReady"/>
      <xs:element name="isReadyResponse" type="tns:isReadyResponse"/>
      <xs:complexType name="TerminalsByPostalCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="TerminalsByPostalCodeRequest" type="ns2:TerminalsByPostalCodeRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TerminalsByPostalCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="TerminalResponse" type="ns1:TerminalResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransitPlanning">
        <xs:sequence>
          <xs:element name="TransitPlanningRequest" type="ns3:TransitPlanningRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransitPlanningResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="TransitPlanningResponse" type="ns3:TransitPlanningResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="isReady">
        <xs:sequence/>
      </xs:complexType>
      <xs:complexType name="isReadyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="isReadyResponse" type="ns4:IsReadyResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TerminalByTerminalCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="TerminalByTerminalCodeRequest" type="ns5:TerminalByTerminalCodeRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TerminalByTerminalCodeResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="TerminalSearchResponse" type="ns1:TerminalSearchResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CarrierServices">
        <xs:sequence>
          <xs:element minOccurs="0" name="CarrierServicesRequest" type="ns6:CarrierServicesRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CarrierServicesResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="CarrierServicesResponse" type="ns6:CarrierServicesResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TerminalsByCarrier">
        <xs:sequence>
          <xs:element minOccurs="0" name="TerminalsByCarrierRequest" type="ns7:TerminalsByCarrierRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TerminalsByCarrierResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="TerminalSearchResponse" type="ns1:TerminalSearchResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Transit">
        <xs:sequence>
          <xs:element name="TransitRequest" type="ns8:TransitRequest"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransitResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="TransitResponse" type="ns8:TransitResponse"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="AuthenticationToken" nillable="true" type="ns0:AuthenticationToken"/>
      <xs:element name="ApiVersion" nillable="true" type="ns9:ApiVersion"/>
    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns4="http://enums.webservice.carrierconnectxl.smc.com" xmlns:ns3="http://pojos.webservice.carrierconnectxl.smc.com" xmlns:ns2="http://enums.objects.webservice.carrierconnect.smc.com" xmlns:ns12="http://transitplanning.v3.webservice.carrierconnectxl.smc.com" xmlns:ns1="http://enums.webservice.carrierconnect.smc.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transitplanning.v3.webservice.carrierconnectxl.smc.com" version="1.0">

      <xs:import namespace="http://enums.webservice.carrierconnect.smc.com"/>

      <xs:import namespace="http://enums.objects.webservice.carrierconnect.smc.com"/>

      <xs:import namespace="http://pojos.webservice.carrierconnectxl.smc.com"/>

      <xs:import namespace="http://enums.webservice.carrierconnectxl.smc.com"/>

      <xs:complexType name="TransitPlanningRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="carriers" nillable="true" type="ns3:CarrierService"/>
          <xs:element minOccurs="0" name="deliveryWindow" type="ns3:TransitTimeWindow"/>
          <xs:element minOccurs="0" name="destination" type="ns3:Location"/>
          <xs:element minOccurs="0" name="origin" type="ns3:Location"/>
          <xs:element minOccurs="0" name="pickUpWindow" type="ns3:TransitTimeWindow"/>
          <xs:element minOccurs="0" name="shipmentId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TransitPlanningResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="carriers" nillable="true" type="ns3:TransitWindowResult"/>
          <xs:element minOccurs="0" name="deliveryWindow" type="ns3:TransitTimeWindow"/>
          <xs:element minOccurs="0" name="destination" type="ns3:Location"/>
          <xs:element minOccurs="0" name="messageStatus" type="ns3:MessageStatus"/>
          <xs:element minOccurs="0" name="origin" type="ns3:Location"/>
          <xs:element minOccurs="0" name="pickUpWindow" type="ns3:TransitTimeWindow"/>
          <xs:element minOccurs="0" name="shipmentId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://transit.v3.webservice.carrierconnectxl.smc.com" xmlns:ns4="http://enums.webservice.carrierconnectxl.smc.com" xmlns:ns3="http://pojos.webservice.carrierconnectxl.smc.com" xmlns:ns2="http://enums.objects.webservice.carrierconnect.smc.com" xmlns:ns11="http://transit.v3.webservice.carrierconnectxl.smc.com" xmlns:ns1="http://enums.webservice.carrierconnect.smc.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://transit.v3.webservice.carrierconnectxl.smc.com" version="1.0">

      <xs:import namespace="http://enums.webservice.carrierconnect.smc.com"/>

      <xs:import namespace="http://enums.objects.webservice.carrierconnect.smc.com"/>

      <xs:import namespace="http://pojos.webservice.carrierconnectxl.smc.com"/>

      <xs:import namespace="http://enums.webservice.carrierconnectxl.smc.com"/>

      <xs:complexType name="TransitRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="carriers" nillable="true" type="ns3:CarrierService"/>
          <xs:element minOccurs="0" name="destination" type="ns3:Location"/>
          <xs:element minOccurs="0" name="origin" type="ns3:Location"/>
          <xs:element minOccurs="0" name="pickupDate" type="xs:string"/>
          <xs:element minOccurs="0" name="shipmentId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TransitResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="carriers" nillable="true" type="tns:TransitResult"/>
          <xs:element minOccurs="0" name="destination" type="ns3:Location"/>
          <xs:element minOccurs="0" name="messageStatus" type="ns3:MessageStatus"/>
          <xs:element minOccurs="0" name="origin" type="ns3:Location"/>
          <xs:element minOccurs="0" name="pickupDate" type="xs:string"/>
          <xs:element minOccurs="0" name="shipmentId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TransitResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="carrierServiceDetail" type="ns3:CarrierServiceDetail"/>
          <xs:element minOccurs="0" name="dataGroup" type="ns3:DataGroup"/>
          <xs:element minOccurs="0" name="messageStatus" type="ns3:MessageStatus"/>
          <xs:element minOccurs="0" name="serviceDetail" type="ns3:ServiceDetail"/>
          <xs:element minOccurs="0" name="terminalCodes" type="ns3:TerminalCodes"/>
          <xs:element minOccurs="0" name="transitCalendar" type="ns3:CalendarResult"/>
          <xs:element name="transitDays" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns3="http://pojos.webservice.carrierconnectxl.smc.com" xmlns:ns2="http://enums.objects.webservice.carrierconnect.smc.com" xmlns:ns10="http://terminalsbypostalcode.v3.webservice.carrierconnectxl.smc.com" xmlns:ns1="http://enums.webservice.carrierconnect.smc.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://terminalsbypostalcode.v3.webservice.carrierconnectxl.smc.com" version="1.0">

      <xs:import namespace="http://enums.webservice.carrierconnect.smc.com"/>

      <xs:import namespace="http://enums.objects.webservice.carrierconnect.smc.com"/>

      <xs:import namespace="http://pojos.webservice.carrierconnectxl.smc.com"/>

      <xs:complexType name="TerminalsByPostalCodeRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="terminals" nillable="true" type="ns3:TerminalByPostalCode"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns9="http://terminalsbycarrier.v3.webservice.carrierconnectxl.smc.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://terminalsbycarrier.v3.webservice.carrierconnectxl.smc.com" version="1.0">

      <xs:complexType name="TerminalsByCarrierRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="scacList" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="shipmentDate" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns8="http://terminalbyterminalcode.v3.webservice.carrierconnectxl.smc.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://terminalbyterminalcode.v3.webservice.carrierconnectxl.smc.com" version="1.0">

      <xs:complexType name="TerminalByTerminalCodeRequest">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="code" type="xs:string"/>
          <xs:element minOccurs="0" name="SCAC" type="xs:string"/>
          <xs:element minOccurs="0" name="shipmentDate" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://pojos.webservice.carrierconnectxl.smc.com" xmlns:ns4="http://pojos.webservice.carrierconnectxl.smc.com" xmlns:ns3="http://enums.webservice.carrierconnectxl.smc.com" xmlns:ns2="http://enums.objects.webservice.carrierconnect.smc.com" xmlns:ns1="http://enums.webservice.carrierconnect.smc.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pojos.webservice.carrierconnectxl.smc.com" version="1.0">

      <xs:import namespace="http://enums.webservice.carrierconnect.smc.com"/>

      <xs:import namespace="http://enums.objects.webservice.carrierconnect.smc.com"/>

      <xs:import namespace="http://enums.webservice.carrierconnectxl.smc.com"/>

      <xs:complexType name="TerminalByPostalCode">
        <xs:sequence>
          <xs:element minOccurs="0" name="city" type="xs:string"/>
          <xs:element name="countryCode" nillable="true" type="ns1:Country"/>
          <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
          <xs:element minOccurs="0" name="SCAC" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceCode" type="xs:string"/>
          <xs:element name="serviceMethod" nillable="true" type="ns1:Method"/>
          <xs:element name="serviceType" nillable="true" type="ns2:ServiceTypes"/>
          <xs:element minOccurs="0" name="shipmentDate" type="xs:string"/>
          <xs:element minOccurs="0" name="stateProvince" type="xs:string"/>
          <xs:element name="terminalType" nillable="true" type="ns1:TerminalType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TerminalResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="carrierTerminals" type="tns:CarrierTerminalResult"/>
          <xs:element minOccurs="0" name="messageStatus" type="tns:MessageStatus"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CarrierTerminalResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="carrierName" type="xs:string"/>
          <xs:element minOccurs="0" name="messageStatus" type="tns:MessageStatus"/>
          <xs:element minOccurs="0" name="SCAC" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceMethod" type="ns1:Method"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="terminalDetails" nillable="true" type="tns:TerminalDetail"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="MessageStatus">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="informations" type="tns:Information"/>
          <xs:element minOccurs="0" name="message" type="xs:string"/>
          <xs:element minOccurs="0" name="resolution" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="ns3:status"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Information">
        <xs:sequence>
          <xs:element minOccurs="0" name="infoType" type="ns3:InfoType"/>
          <xs:element minOccurs="0" name="informationMessage" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TerminalDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="address1" type="xs:string"/>
          <xs:element minOccurs="0" name="address2" type="xs:string"/>
          <xs:element minOccurs="0" name="city" type="xs:string"/>
          <xs:element minOccurs="0" name="code" type="xs:string"/>
          <xs:element minOccurs="0" name="contact" type="tns:Contact"/>
          <xs:element minOccurs="0" name="countryCode" type="ns1:Country"/>
          <xs:element minOccurs="0" name="dataGroup" type="tns:DataGroup"/>
          <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceCode" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceMethod" type="ns1:Method"/>
          <xs:element minOccurs="0" name="serviceType" type="ns2:ServiceTypes"/>
          <xs:element minOccurs="0" name="stateProvince" type="xs:string"/>
          <xs:element minOccurs="0" name="terminalName" type="xs:string"/>
          <xs:element minOccurs="0" name="terminalType" type="ns1:TerminalType"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Contact">
        <xs:sequence>
          <xs:element minOccurs="0" name="email" type="xs:string"/>
          <xs:element minOccurs="0" name="fax" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="phone" type="xs:string"/>
          <xs:element minOccurs="0" name="title" type="xs:string"/>
          <xs:element minOccurs="0" name="tollFree" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="DataGroup">
        <xs:sequence>
          <xs:element minOccurs="0" name="expirationDate" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element minOccurs="0" name="releaseDate" type="xs:string"/>
          <xs:element minOccurs="0" name="supportId" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CarrierService">
        <xs:sequence>
          <xs:element minOccurs="0" name="SCAC" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceCode" type="xs:string"/>
          <xs:element name="serviceMethod" nillable="true" type="ns1:Method"/>
          <xs:element name="serviceType" nillable="true" type="ns2:ServiceTypes"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TransitTimeWindow">
        <xs:sequence>
          <xs:element minOccurs="0" name="earliestDate" type="xs:string"/>
          <xs:element minOccurs="0" name="latestDate" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Location">
        <xs:sequence>
          <xs:element minOccurs="0" name="address1" type="xs:string"/>
          <xs:element minOccurs="0" name="address2" type="xs:string"/>
          <xs:element minOccurs="0" name="city" type="xs:string"/>
          <xs:element name="countryCode" nillable="true" type="ns1:Country"/>
          <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
          <xs:element minOccurs="0" name="stateProvince" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TransitWindowResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="carrierServiceDetail" type="tns:CarrierServiceDetail"/>
          <xs:element minOccurs="0" name="dataGroup" type="tns:DataGroup"/>
          <xs:element minOccurs="0" name="messageStatus" type="tns:MessageStatus"/>
          <xs:element minOccurs="0" name="serviceDetail" type="tns:ServiceDetail"/>
          <xs:element minOccurs="0" name="terminalCodes" type="tns:TerminalCodes"/>
          <xs:element minOccurs="0" name="transitCalendar" type="tns:CalendarResult"/>
          <xs:element name="transitDays" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CarrierServiceDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="carrierName" type="xs:string"/>
          <xs:element minOccurs="0" name="SCAC" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceCode" type="xs:string"/>
          <xs:element name="serviceMethod" nillable="true" type="ns1:Method"/>
          <xs:element name="serviceType" nillable="true" type="ns2:ServiceTypes"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ServiceDetail">
        <xs:sequence>
          <xs:element minOccurs="0" name="destination" type="ns1:Movement"/>
          <xs:element minOccurs="0" name="origin" type="ns1:Movement"/>
          <xs:element minOccurs="0" name="service" type="ns1:Movement"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TerminalCodes">
        <xs:sequence>
          <xs:element minOccurs="0" name="destination" type="xs:string"/>
          <xs:element minOccurs="0" name="origin" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CalendarResult">
        <xs:sequence>
          <xs:element name="calendarDays" type="xs:int"/>
          <xs:element minOccurs="0" name="estimatedDeliveryDate" type="xs:string"/>
          <xs:element minOccurs="0" name="pickupDate" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="TerminalSearchResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="carrierTerminals" type="tns:CarrierTerminals"/>
          <xs:element minOccurs="0" name="messageStatus" type="tns:MessageStatus"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CarrierTerminals">
        <xs:sequence>
          <xs:element minOccurs="0" name="carrierName" type="xs:string"/>
          <xs:element minOccurs="0" name="messageStatus" type="tns:MessageStatus"/>
          <xs:element minOccurs="0" name="SCAC" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceMethod" type="ns1:Method"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="terminals" type="tns:Terminal"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Terminal">
        <xs:sequence>
          <xs:element minOccurs="0" name="address1" type="xs:string"/>
          <xs:element minOccurs="0" name="address2" type="xs:string"/>
          <xs:element minOccurs="0" name="city" type="xs:string"/>
          <xs:element minOccurs="0" name="code" type="xs:string"/>
          <xs:element minOccurs="0" name="contact" type="tns:Contact"/>
          <xs:element minOccurs="0" name="countryCode" type="ns1:Country"/>
          <xs:element minOccurs="0" name="dataGroup" type="tns:DataGroup"/>
          <xs:element minOccurs="0" name="postalCode" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceCode" type="xs:string"/>
          <xs:element minOccurs="0" name="serviceMethod" type="ns1:Method"/>
          <xs:element minOccurs="0" name="serviceType" type="ns2:ServiceTypes"/>
          <xs:element minOccurs="0" name="stateProvince" type="xs:string"/>
          <xs:element minOccurs="0" name="terminalName" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ServiceData">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:string"/>
          <xs:element minOccurs="0" name="description" type="xs:string"/>
          <xs:element minOccurs="0" name="name" type="xs:string"/>
          <xs:element name="type" nillable="true" type="ns2:ServiceTypes"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns7="http://isready.v3.webservice.carrierconnectxl.smc.com" xmlns:ns2="http://enums.webservice.carrierconnectxl.smc.com" xmlns:ns1="http://pojos.webservice.carrierconnectxl.smc.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://isready.v3.webservice.carrierconnectxl.smc.com" version="1.0">

      <xs:import namespace="http://pojos.webservice.carrierconnectxl.smc.com"/>

      <xs:import namespace="http://enums.webservice.carrierconnectxl.smc.com"/>

      <xs:complexType name="IsReadyResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="messageStatus" type="ns1:MessageStatus"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://enums.webservice.carrierconnectxl.smc.com" targetNamespace="http://enums.webservice.carrierconnectxl.smc.com" version="1.0">

      <xs:element name="Status" type="tns:status"/>

      <xs:simpleType name="ApiVersion">
        <xs:restriction base="xs:string">
          <xs:enumeration value="V3_1"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="InfoType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ORIGIN"/>
          <xs:enumeration value="DESTINATION"/>
          <xs:enumeration value="LANE"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="status">
        <xs:restriction base="xs:string">
          <xs:enumeration value="PASS"/>
          <xs:enumeration value="FAIL"/>
        </xs:restriction>
      </xs:simpleType>

    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://enums.webservice.carrierconnect.smc.com" targetNamespace="http://enums.webservice.carrierconnect.smc.com" version="1.0">

      <xs:element name="Country" type="tns:Country"/>

      <xs:element name="Method" type="tns:Method"/>

      <xs:element name="Movement" type="tns:Movement"/>

      <xs:element name="TerminalType" type="tns:TerminalType"/>

      <xs:simpleType name="Country">
        <xs:restriction base="xs:string">
          <xs:enumeration value="USA"/>
          <xs:enumeration value="MEX"/>
          <xs:enumeration value="CAN"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="Method">
        <xs:restriction base="xs:string">
          <xs:enumeration value="LTL"/>
          <xs:enumeration value="TL"/>
          <xs:enumeration value="ALL_AVAILABLE"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="TerminalType">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DELIVERY"/>
          <xs:enumeration value="PICKUP"/>
          <xs:enumeration value="BOTH"/>
        </xs:restriction>
      </xs:simpleType>

      <xs:simpleType name="Movement">
        <xs:restriction base="xs:string">
          <xs:enumeration value="DIRECT"/>
          <xs:enumeration value="INDIRECT"/>
          <xs:enumeration value="PARTNER"/>
          <xs:enumeration value="CUSTOM"/>
        </xs:restriction>
      </xs:simpleType>

    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://enums.objects.webservice.carrierconnect.smc.com" targetNamespace="http://enums.objects.webservice.carrierconnect.smc.com" version="1.0">

      <xs:element name="ServiceTypes" type="tns:ServiceTypes"/>

      <xs:simpleType name="ServiceTypes">
        <xs:restriction base="xs:string">
          <xs:enumeration value="ALL_AVAILABLE"/>
          <xs:enumeration value="STANDARD"/>
          <xs:enumeration value="EXPEDITED"/>
          <xs:enumeration value="GUARANTEED"/>
        </xs:restriction>
      </xs:simpleType>

    </xs:schema>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://carrierservices.v3.webservice.carrierconnectxl.smc.com" xmlns:ns6="http://carrierservices.v3.webservice.carrierconnectxl.smc.com" xmlns:ns4="http://enums.webservice.carrierconnectxl.smc.com" xmlns:ns3="http://pojos.webservice.carrierconnectxl.smc.com" xmlns:ns2="http://enums.objects.webservice.carrierconnect.smc.com" xmlns:ns1="http://enums.webservice.carrierconnect.smc.com" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://carrierservices.v3.webservice.carrierconnectxl.smc.com" version="1.0">

      <xs:import namespace="http://enums.webservice.carrierconnect.smc.com"/>

      <xs:import namespace="http://enums.objects.webservice.carrierconnect.smc.com"/>

      <xs:import namespace="http://pojos.webservice.carrierconnectxl.smc.com"/>

      <xs:import namespace="http://enums.webservice.carrierconnectxl.smc.com"/>

      <xs:complexType name="CarrierServicesRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="service" type="ns3:CarrierService"/>
          <xs:element minOccurs="0" name="shipmentDate" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CarrierServicesResponse">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="carrierServices" type="tns:CarrierScacService"/>
          <xs:element minOccurs="0" name="messageStatus" type="ns3:MessageStatus"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CarrierScacService">
        <xs:sequence>
          <xs:element minOccurs="0" name="carrierName" type="xs:string"/>
          <xs:element minOccurs="0" name="SCAC" type="xs:string"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="services" type="tns:ServiceMethodData"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ServiceMethodData">
        <xs:sequence>
          <xs:element name="serviceMethod" nillable="true" type="ns1:Method"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="serviceTypes" type="ns3:ServiceData"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </wsdl:types>
  <wsdl:message name="TransitPlanning">
    <wsdl:part element="tns:TransitPlanning" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:AuthenticationToken" name="AuthenticationToken">
    </wsdl:part>
    <wsdl:part element="tns:ApiVersion" name="ApiVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CarrierServicesResponse">
    <wsdl:part element="tns:CarrierServicesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TerminalByTerminalCodeResponse">
    <wsdl:part element="tns:TerminalByTerminalCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TransitResponse">
    <wsdl:part element="tns:TransitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TerminalsByCarrierResponse">
    <wsdl:part element="tns:TerminalsByCarrierResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TransitPlanningResponse">
    <wsdl:part element="tns:TransitPlanningResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TerminalsByPostalCode">
    <wsdl:part element="tns:TerminalsByPostalCode" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:AuthenticationToken" name="AuthenticationToken">
    </wsdl:part>
    <wsdl:part element="tns:ApiVersion" name="ApiVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isReady">
    <wsdl:part element="tns:isReady" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:AuthenticationToken" name="AuthenticationToken">
    </wsdl:part>
    <wsdl:part element="tns:ApiVersion" name="ApiVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TerminalsByPostalCodeResponse">
    <wsdl:part element="tns:TerminalsByPostalCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TerminalByTerminalCode">
    <wsdl:part element="tns:TerminalByTerminalCode" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:AuthenticationToken" name="AuthenticationToken">
    </wsdl:part>
    <wsdl:part element="tns:ApiVersion" name="ApiVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="isReadyResponse">
    <wsdl:part element="tns:isReadyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CarrierServices">
    <wsdl:part element="tns:CarrierServices" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:AuthenticationToken" name="AuthenticationToken">
    </wsdl:part>
    <wsdl:part element="tns:ApiVersion" name="ApiVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TerminalsByCarrier">
    <wsdl:part element="tns:TerminalsByCarrier" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:AuthenticationToken" name="AuthenticationToken">
    </wsdl:part>
    <wsdl:part element="tns:ApiVersion" name="ApiVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Transit">
    <wsdl:part element="tns:Transit" name="parameters">
    </wsdl:part>
    <wsdl:part element="tns:AuthenticationToken" name="AuthenticationToken">
    </wsdl:part>
    <wsdl:part element="tns:ApiVersion" name="ApiVersion">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarrierConnectXLPortTypeV3">
    <wsdl:operation name="TerminalsByPostalCode">
      <wsdl:input message="tns:TerminalsByPostalCode" name="TerminalsByPostalCode">
      </wsdl:input>
      <wsdl:output message="tns:TerminalsByPostalCodeResponse" name="TerminalsByPostalCodeResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransitPlanning">
      <wsdl:input message="tns:TransitPlanning" name="TransitPlanning">
      </wsdl:input>
      <wsdl:output message="tns:TransitPlanningResponse" name="TransitPlanningResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isReady">
      <wsdl:input message="tns:isReady" name="isReady">
      </wsdl:input>
      <wsdl:output message="tns:isReadyResponse" name="isReadyResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminalByTerminalCode">
      <wsdl:input message="tns:TerminalByTerminalCode" name="TerminalByTerminalCode">
      </wsdl:input>
      <wsdl:output message="tns:TerminalByTerminalCodeResponse" name="TerminalByTerminalCodeResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarrierServices">
      <wsdl:input message="tns:CarrierServices" name="CarrierServices">
      </wsdl:input>
      <wsdl:output message="tns:CarrierServicesResponse" name="CarrierServicesResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminalsByCarrier">
      <wsdl:input message="tns:TerminalsByCarrier" name="TerminalsByCarrier">
      </wsdl:input>
      <wsdl:output message="tns:TerminalsByCarrierResponse" name="TerminalsByCarrierResponse">
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transit">
      <wsdl:input message="tns:Transit" name="Transit">
      </wsdl:input>
      <wsdl:output message="tns:TransitResponse" name="TransitResponse">
      </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarrierConnectXLV3SoapBinding" type="tns:CarrierConnectXLPortTypeV3">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TerminalsByPostalCode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="TerminalsByPostalCode">
        <soap:header message="tns:TerminalsByPostalCode" part="AuthenticationToken" use="literal">
        </soap:header>
        <soap:header message="tns:TerminalsByPostalCode" part="ApiVersion" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="TerminalsByPostalCodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransitPlanning">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="TransitPlanning">
        <soap:header message="tns:TransitPlanning" part="AuthenticationToken" use="literal">
        </soap:header>
        <soap:header message="tns:TransitPlanning" part="ApiVersion" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="TransitPlanningResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isReady">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="isReady">
        <soap:header message="tns:isReady" part="AuthenticationToken" use="literal">
        </soap:header>
        <soap:header message="tns:isReady" part="ApiVersion" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="isReadyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminalByTerminalCode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="TerminalByTerminalCode">
        <soap:header message="tns:TerminalByTerminalCode" part="AuthenticationToken" use="literal">
        </soap:header>
        <soap:header message="tns:TerminalByTerminalCode" part="ApiVersion" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="TerminalByTerminalCodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarrierServices">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CarrierServices">
        <soap:header message="tns:CarrierServices" part="AuthenticationToken" use="literal">
        </soap:header>
        <soap:header message="tns:CarrierServices" part="ApiVersion" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="CarrierServicesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TerminalsByCarrier">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="TerminalsByCarrier">
        <soap:header message="tns:TerminalsByCarrier" part="AuthenticationToken" use="literal">
        </soap:header>
        <soap:header message="tns:TerminalsByCarrier" part="ApiVersion" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="TerminalsByCarrierResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Transit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="Transit">
        <soap:header message="tns:Transit" part="AuthenticationToken" use="literal">
        </soap:header>
        <soap:header message="tns:Transit" part="ApiVersion" use="literal">
        </soap:header>
        <soap:body parts="parameters" use="literal"/>
      </wsdl:input>
      <wsdl:output name="TransitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarrierConnectXLV3">
    <wsdl:port binding="tns:CarrierConnectXLV3SoapBinding" name="CarrierConnectXLHttpPortV3">
      <soap:address location="https://ccxl.smc3.com/CarrierConnectXL/services/soap/v3"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>