plstms-pls20-e49a48c5bd95/ui/src/main/webapp/schema/EDI210.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2015 Designer Edition 13.1.0.5909 (http://www.liquid-technologies.com)-->
<xs:schema xmlns="http://com.pls.load" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://com.pls.load" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="CommonTypes.xsd" />
    <xs:element name="LtlLoadInvoices" type="LTLLoadInvoices"/>
        <xs:complexType name="LTLLoadInvoices">
            <xs:sequence>
                <xs:element name="LtlLoadInvoice" type="LtlLoadMessage" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
</xs:schema>
