plstms-pls20-e49a48c5bd95/ui/src/main/webapp/schema/EDI214.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML 2015 Designer Edition 13.1.0.5909 (http://www.liquid-technologies.com)-->
<xs:schema xmlns="http://com.pls.load" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://com.pls.load" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="LTLLoadTracking" type="LTLLoadTracking" />
    <xs:complexType name="LTLLoadTracking">
        <xs:sequence>
            <xs:element name="MessageType" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Type Of The Message Received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Scac" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Standard Carrier Alpha Code</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PersonId" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>EDI User</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CustomerOrgId" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Customer Organization ID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LoadId" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Load ID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Bol" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Bill of Lading</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ShipmentNo" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Shipment Number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProNumber" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>PRO Number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EdiAccountNum" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>EDI Account Number</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="B2biFileName" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>B2Bi File Name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RecvDateTime" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Received Date Time</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TrackingStatuses" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Tracking Updates</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TrackingStatus" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Tracking Update</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Status" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Status</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="StatusReason" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Status Reason Code</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="LoadStatus" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Load Status</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Notes" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Comments</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TransactionDate" type="xs:string" minOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>Transaction Date and Time</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TransactionDateTz" type="xs:string" minOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>Transaction Date Timezone</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="TrackingStatusAddress" minOccurs="0" maxOccurs="1">
                                        <xs:annotation>
                                            <xs:documentation>Address of the Tracking Update</xs:documentation>
                                        </xs:annotation>
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="City" type="xs:string" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>City</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="State" type="xs:string" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>State</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="Country" type="xs:string" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>Country</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                                <xs:element name="PostalCode" type="xs:string" minOccurs="0">
                                                    <xs:annotation>
                                                        <xs:documentation>Postal Code</xs:documentation>
                                                    </xs:annotation>
                                                </xs:element>
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TrackingMaterials" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Tracking Materials</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TrackingMaterial" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Tracking Material</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Weight" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Weight</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="CommodityClassCode" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Commodity Class Code</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="PackagingTypeCode" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Packaging Type Code</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Pieces" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Pieces</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Quantity" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Quantity</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="WeightUOM" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Weight UOM</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Addresses">
                <xs:annotation>
                    <xs:documentation>Addresses</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Address" minOccurs="0" maxOccurs="2">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="AddressType" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>AddressType</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Address1" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Address 1</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="Address2" type="xs:string" minOccurs="0">
                                        <xs:annotation>
                                            <xs:documentation>Address 2</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="City" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>City</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="StateCode" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>State Code</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="PostalCode" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Postal Code</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                    <xs:element name="CountryCode" type="xs:string">
                                        <xs:annotation>
                                            <xs:documentation>Country Code</xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
